<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dinosaur Explorer API</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dino.css') }}">
</head>

<body class="mainBody">

  <h1>
    Hello, Dinosaurs!
  </h1>

  <div class="dino-list">
    <select class="dino-name" name="name">
      {% for dino in dinos %}
      {% include "_dino_content.html" %}
      {% endfor %}
    </select>
  </div>

  <div class="dino-create-card">
    {% include "_dino_create_form.html" %}
  </div>

  {% if config['DEBUG'] %}
  {% include "_debug.html" %}
  {% endif %}
</body>

</html>