.p-002 {
  --font-selector: R0Y7WmlsbGEgU2xhYi1yZWd1bGFy;
  font-family: "&quot;Zilla Slab&quot;, &quot;Zilla Slab Placeholder&quot;, serif";
  font-size: 32px;
  line-height: 1em;
}

.h1-left {
  --font-selector: R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;
  font-family: "&quot;Margarine&quot;, sans-serif";
  font-size: 48px;
  line-height: 1em;
  text-transform: uppercase;
}

.h2-left {
  --font-selector: R0Y7TWFyZ2FyaW5lLXJlZ3VsYXI=;
  font-family: "&quot;Margarine&quot;, sans-serif";
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}

.footer-text {
  --font-selector: R0Y7WmlsbGEgU2xhYi1yZWd1bGFy;
  font-family: "&quot;Zilla Slab&quot;, &quot;Zilla Slab Placeholder&quot;, serif";
  line-height: 1.5em;
  text-alignment: left
}


.mainBody {
  background: #F49E4C
}